In [32]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os

In [33]:
os.getcwd()

'C:\\Users\\TriciaToffey\\desktop\\GitHubs\\ETL_Project'

In [34]:
df_orig=pd.read_csv("./Resources/dog_breed_characteristics.csv")
df_orig.head(25)

,BreedName,AltBreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,MalaysiaGuardedDog,MalaysiaProhibitedDog,MalaysiaPopularity,PopularityUS2017
0,Affenpinscher,NaN,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,NaN,NaN,NaN,147.0
1,Afghan Hound,NaN,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,NaN,NaN,NaN,93.0
2,African Hunting Dog,NaN,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Airedale,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,NaN,NaN,NaN,55.0
4,Akbash,NaN,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN,NaN,NaN,NaN
5,Akita,NaN,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,NaN,1.0,NaN,47.0
6,Alaskan Malamute,Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,NaN,NaN,NaN,59.0
7,American Bulldog,NaN,Working,Guardian,38.0,"Affectionate, Alert, Courageous, Energetic, Ge...",800.0,NaN,6.0,NaN,1.0,NaN,NaN
8,American Eskimo Dog,NaN,Non Sporting,Northern,8.0,"Alert, Energetic, Friendly, Independent, Intel...",700.0,NaN,4.0,NaN,NaN,NaN,118.0
9,American Hairless Terrier,NaN,Terrier,Terrier,5.0,"Alert, Lively, Loving, Intelligent, Inquisitiv...",400.0,NaN,3.0,NaN,NaN,NaN,126.0
10,American Staffordshire Terrier,NaN,Terrier,Terrier,28.0,"Attentive, Courageous, Devoted, Friendly, Loya...",900.0,34.0,3.0,NaN,1.0,NaN,83.0
11,American Water Spaniel,NaN,Sporting,Gun,16.0,"Energetic, Friendly, Intelligent, Obedient, Pr...",900.0,44.0,4.0,NaN,NaN,NaN,167.0
12,Anatolian Shepherd,NaN,Working,Guardian,52.0,"Bold, Confident, Independent, Intelligent, Pro...",800.0,NaN,6.0,NaN,NaN,NaN,86.0
13,Appenzell Mountain Dog,Appenzeller,Working,Guardian,27.0,"Energetic, Fearless, Lively, Reliable, Self-as...",700.0,NaN,5.0,NaN,NaN,NaN,NaN
14,Australian Cattle Dog/Blue Heeler,NaN,Herding,Herding,21.0,"Aggressive, Alert, Energetic, Intelligent, Loy...",600.0,10.0,6.0,NaN,NaN,NaN,56.0
15,Australian Kelpie,Kelpie,Working,Herding,16.0,"Alert, Eager, Energetic, Friendly, Intelligent...",600.0,NaN,5.0,NaN,NaN,NaN,NaN
16,Australian Shepherd,NaN,Terrier,Terrier,27.0,"Active, Affectionate, Friendly, Good-natured, ...",700.0,42.0,5.0,NaN,NaN,NaN,17.0
17,Australian Terrier,NaN,Terrier,Terrier,5.0,"Alert, Compassionate, Courageous, Even Tempere...",1250.0,34.0,3.0,NaN,NaN,NaN,137.0
18,Basenji,NaN,Hound,Sight,11.0,"Affectionate, Alert, Curious, Energetic, Playf...",1100.0,78.0,5.0,NaN,NaN,NaN,84.0
19,Basset Hound,Basset,Hound,Scenthound,26.0,"Affectionate, Devoted, Friendly, Gentle, Sweet...",400.0,71.0,1.0,NaN,NaN,NaN,39.0
20,Beagle,NaN,Hound,Scenthound,11.0,"Friendly, Gentle, Independent, Intelligent, Li...",650.0,72.0,1.0,NaN,NaN,NaN,6.0
21,Bearded Collie,NaN,Herding,Herding,23.0,"Active, Alert, Hardy, Intelligent, Lively, Sel...",1300.0,34.0,4.0,NaN,NaN,NaN,125.0
22,Beauceron,NaN,Herding,Herding,50.0,"Courageous, Obedient, Loyal, Protective, Loving",1350.0,NaN,5.0,NaN,NaN,NaN,141.0
23,Bedlington Terrier,NaN,Terrier,Terrier,9.0,"Affectionate, Devoted, Energetic, Loyal, Playf...",1900.0,40.0,3.0,NaN,NaN,NaN,151.0
24,Belgian Shepherd Dog Sheepdog,Groenendael,Herding,Herding,32.0,"Active, Alert, Confident, Friendly, Hard-worki...",1300.0,15.0,6.0,NaN,NaN,NaN,120.0

In [35]:
df_orig.columns

Index(['BreedName', 'AltBreedName', 'Group1', 'Group2', 'MaleWtKg',
       'Temperment', 'AvgPupPrice', 'Intelligence', 'Watchdog',
       'MalaysiaGuardedDog', 'MalaysiaProhibitedDog', 'MalaysiaPopularity',
       'PopularityUS2017'],
      dtype='object')

In [37]:
df=df_orig.drop(["AltBreedName", "MalaysiaGuardedDog", "MalaysiaProhibitedDog", "MalaysiaPopularity"], axis=1)

In [38]:
df.head()

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
2,African Hunting Dog,NaN,NaN,23.0,Wild,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
4,Akbash,Working,Guardian,53.0,"Affectionate, Alert, Courageous, Independent, ...",600.0,NaN,5.0,NaN

In [39]:
df.sort_values(by=['PopularityUS2017'])

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
64,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
31,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
143,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
209,Shepherd,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...
198,Sarplaninac,Working,Guardian,33.0,"Independent, Calm, Devoted, Intelligent, Prote...",900.0,NaN,5.0,NaN
218,South Russian Ovtcharka,Herding,Herding,49.0,"Active, Balanced, Courageous, Lively, Nervous",900.0,NaN,4.0,NaN
225,Thai Ridgeback,Hound,Sight,28.0,"Familial, Independent, Loving, Loyal, Protective",700.0,NaN,2.0,NaN
229,Tosa Inu,Working,Guardian,65.0,"Aggressive, Brave, Fearless, Intelligent, Sens...",700.0,NaN,6.0,NaN
249,Mixed Breed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
pop_select=df[df["PopularityUS2017"]==1]
pop_select

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
31,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
64,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
143,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0

In [49]:
pop_select=df.loc[df['PopularityUS2017']<=191]
pop_select

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
0,Affenpinscher,Toy,Companion,4.0,"Active, Adventurous, Curious, Fun-loving, Play...",1000.0,37.0,1.0,147.0
1,Afghan Hound,Sporting,Sight,28.0,"Aloof, Clownish, Dignified, Happy, Independent",2250.0,79.0,1.0,93.0
3,Airedale Terrier,Terrier,Terrier,26.0,"Alert, Confident, Courageous, Friendly, Intell...",700.0,29.0,4.0,55.0
5,Akita,Working,Herding,44.0,"Alert, Courageous, Dignified, Docile, Friendly...",1000.0,54.0,5.0,47.0
6,Alaskan Malamute,Working,Northern,40.0,"Affectionate, Devoted, Dignified, Friendly, Lo...",1350.0,50.0,5.0,59.0
...,...,...,...,...,...,...,...,...,...
244,Wire-haired Pointing Griffon,Sporting,Gun,25.0,"Gentle, Loyal, Proud, Trainable, Vigilant, Int...",700.0,46.0,5.0,65.0
245,Wirehaired Terrier,Terrier,Terrier,7.0,"Alert, Bold, Fearless, Friendly, Keen, Quick, ...",900.0,51.0,3.0,99.0
246,Xoloitzcuintle/Mexican Hairless,Non Sporting,Sight,11.0,"Aleret, Calm, Cheerful, Companionable, Loyal, ...",700.0,NaN,3.0,143.0
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
248,Yorkshire Terrier Yorkie,Toy,Companion,3.0,"Alert, Courageous, Energetic, Independent, Int...",800.0,27.0,3.0,9.0

In [58]:

popularity_df=df.sort_values(by=['PopularityUS2017'])

In [62]:
popularity_df[['BreedName', 'PopularityUS2017']]

                        BreedName  PopularityUS2017
247     Yellow Labrador Retriever               1.0
64   Chocolate Labrador Retriever               1.0
31       Black Labrador Retriever               1.0
143            Labrador Retriever               1.0
209                      Shepherd               2.0
..                            ...               ...
198                   Sarplaninac               NaN
218       South Russian Ovtcharka               NaN
225                Thai Ridgeback               NaN
229                      Tosa Inu               NaN
249                   Mixed Breed               NaN

[250 rows x 2 columns]

In [63]:
popularity_df = popularity_df.loc[popularity_df['PopularityUS2017'].notnull()]

In [64]:
popularity_df

,BreedName,Group1,Group2,MaleWtKg,Temperment,AvgPupPrice,Intelligence,Watchdog,PopularityUS2017
247,Yellow Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
64,Chocolate Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
31,Black Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
143,Labrador Retriever,Sporting,Gun,32.0,"Affectionate, Alert, Cheerful, Energetic, Frie...",1500.0,7.0,3.0,1.0
209,Shepherd,Herding,Herding,35.0,"Alert, Confident, Courageous, Curious, Intelli...",1400.0,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...
168,Otterhound,Hound,Scenthound,41.0,"Amiable, Boisterous, Even-tempered",550.0,46.0,2.0,186.0
101,Foxhound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
119,Hound,Hound,Scenthound,32.0,"Independent, Intelligent, Kind, Loving, Loyal,...",500.0,46.0,2.0,187.0
216,Sloughi,Hound,Sight,28.0,"Alert, Faithful, Intelligent, Sensitive, Indep...",900.0,NaN,5.0,188.0
164,Norwegian Lundehund,Non Sporting,Northern,8.0,"Alert, Energetic, Loyal, Protective",500.0,NaN,4.0,190.0

In [67]:
popularity_df["PopularityUS2017"].value_counts()

1.0      4
118.0    4
68.0     4
2.0      3
12.0     2
        ..
120.0    1
119.0    1
116.0    1
114.0    1
91.0     1
Name: PopularityUS2017, Length: 177, dtype: int64